/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Typography */

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.25em; 
}

.content p {
  font-weight: bold;
}

/* Colors */

body {
  background-color: #f2f2f2;
}

header, footer {
  background-color: #ff8c1a;
}

/* Grid */

.container {
  width: 800px;
  margin: 0 auto;
  clear: both;
}

/* Header */

header {
  position: relative;
  height: 35px;
}

header h1 {
  float: left;
  padding-left: 5px;
}

header .top-menu {
  position: absolute;
  top: -1px;
  right: 15px;
}

header .top-menu a {
  float: left;
  border: 1px solid black;
  padding: 1px 5px 3px 5px;
  text-decoration: none;
  color: black;
  background-color: #ff751a;
}

header .top-menu a:hover {
  background-color: #ff8533;
}

/* Content */

.content {
  border-right: 3px solid #ff8c1a;
  border-left: 3px solid #ff8c1a;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
}

.content h2 {
  text-align: center;
  margin-bottom: 15px;
}

.content p {
  border: 1px solid black;
  border-radius: 3px;
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  background-color: #f2f2f2;
}

.start-button {
  text-align: center;
  width: 150px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px auto 0px auto;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: #ff751a;
  font-weight: 700;
}

.start-button:hover {
  background-color: #ff8533;
}

/* Footer */

footer {
  height: 35px;
  padding-left: 8px;
  padding-top: 8px;
}
